<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>住所入力画面</title>
        <!--<link rel="stylesheet" href="style.css">-->
    </head>
    <body>
        <button id="getProfileButton">押すな。</button>
        <div id="profilePictureDiv">
        </div>
        <p id="userIdProfileField"></p>
        <p id="displayNameField"></p>
        <p id="statusMessageField"></p>
        <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
        <script>
                const idSPace = document.getElementById('id');
                const errorSpace = document.getElementById('error');

                //liff init
                liff.init(
                    data => {
                        const userId = data.context.userId;
                        idSPace.innerText = userId;
                    },
                    err => {
                        console.log('error', err);
                    }
                );

            document.getElementById('getProfileButton').addEventListener('click', function() {
                liff.closeWindow()
            });
        </script>
    </body>
</html>